@model ContosoUniversityHõbesalu.Models.Instructor
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>*John Cena* Are you sure about that?!?!?</h3>
<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class=" = col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dt class=" = col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dt>
        <dt class=" = col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dt class=" = col-sm-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dt>
        <dt class=" = col-sm-2">
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dt class=" = col-sm-10">
            @Html.DisplayFor(model => model.HireDate)
        </dt>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>